
.card-weather{
    background: radial-gradient(circle, rgba(91,101,206,1) 15%, rgba(135,78,182,1) 83%);
    width: 300px;
    min-height:110px;
    margin-left: 200px;
    margin-top: 30px;
    border-style: solid;
    border-radius: 20px;
}
.search{
    margin: 20px 0 0 0px; 
}
.search>input{
    margin-left: 30px;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
}
.search>button{
    margin-left: 20px;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
}
.search>button:active{
    margin-left: 20px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(21, 12, 12);
}
.weather-icon{
    margin-left:90px;
    margin-top: 50px;
}
.weather h1 {
    text-align: center;
    margin-top: 20px;
}
.weather h2 {
    text-align: center;
    margin-top: 20px;
}
.details{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
.col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 10px;
    font-size: 14px;
    font-weight:bold;
}

.error,.weather{
    display:none
}
